undodir/
plugged/
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/tramp
.emacs.d/savehist
.emacs.d/recentf
.emacs.d/projectile.cache
.emacs.d/projectile-bookmarks.eld
.emacs.d/bookmarks
.emacs.d/places
.emacs.d/conf.el
tags
